@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ngApp {
    ng-app='app.students'
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/app/student/student.module.js"></script>
    <script type="text/javascript" src="~/Scripts/app/student/student.service.js"></script>
    <script type="text/javascript" src="~/Scripts/app/student/student.controller.js"></script>
}

<div ng-controller="Student as vm">
    <h1>Students</h1>
    <div role="tabpanel">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#insert" aria-controls="insert" role="tab" data-toggle="tab">Insert</a></li>
            <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="insert">
                <form name="streetsMileagesForm" role="form">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="scheduledDateInput">Date</label>
                            <p class="input-group">
                                <input id="scheduledDateInput" type="text" class="form-control" datepicker-popup="longDate" ng-model="vm.scheduledDate" is-open="vm.opened" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <br />
                            <tigger-loading ng-show="vm.loading" class="centered"></tigger-loading>
                            <button ng-hide="vm.loading" ng-click="vm.getMileagesFromStreets()" class="btn btn-lg center-block btn-primary">Get Mileages From Streets</button>
                        </div>
                    </div>
                    <tigger-no-results ng-hide="vm.streetMileages.length > 0"></tigger-no-results>
                    <div class="form-group" ng-show="vm.streetMileages.length > 0">
                        <table class="table">
                            <tr>
                                <th>Vehicle</th>
                                <th>Block</th>
                                <th>Garage Start Mileage</th>
                                <th>Route Start Mileage</th>
                                <th>Route End Mileage</th>
                                <th>Garage End Mileage</th>
                                <th>Deadhead Hours</th>
                                <th>Revenue Hours</th>
                                <th>Vehicle Hours</th>
                            </tr>
                            <tr ng-repeat="mileage in vm.streetMileages">
                                <td>{{ mileage.Vehicle.Name }}</td>
                                <td>{{ mileage.Block.Name }}</td>
                                <td>
                                    <input type="number" class="form-control" step=".1" ng-model="mileage.GarageStartMileage" required />
                                </td>
                                <td>
                                    <input type="number" class="form-control" step=".1" ng-model="mileage.RouteStartMileage" required />
                                </td>
                                <td>
                                    <input type="number" class="form-control" step=".1" ng-model="mileage.RouteEndMileage" required />
                                </td>
                                <td>
                                    <input type="number" class="form-control" step=".1" ng-model="mileage.GarageEndMileage" required />
                                </td>
                                <td>
                                    <input type="number" class="form-control" step=".01" ng-model="mileage.DeadheadHours" required />
                                </td>
                                <td>
                                    <input type="number" class="form-control" step=".01" ng-model="mileage.RevenueHours" required />
                                </td>
                                <td>
                                    <input type="number" class="form-control" step=".01" ng-model="mileage.VehicleHours" required />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="scheduleInput">Schedule</label>
                            <select id="scheduleInput" class="form-control" ng-model="vm.newMileage.Schedule" ng-options="schedule.Name for schedule in vm.schedules track by schedule.Id"></select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="blockInput">Block</label>
                            <select id="blockInput" class="form-control" ng-model="vm.newMileage.Block" ng-options="block.Name for block in vm.blocks track by block.Id"></select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="vehicleInput">Vehicle</label>
                            <select id="vehicleInput" class="form-control" ng-model="vm.newMileage.Vehicle" ng-options="vehicle.Name for vehicle in vm.vehicles track by vehicle.Id"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label for="garageStartMileageInput">Garage Start Mileage</label>
                            <input id="garageStartMileageInput" type="number" class="form-control" step=".1" ng-model="vm.newMileage.GarageStartMileage" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="routeStartMileageInput">Route Start Mileage</label>
                            <input id="routeStartMileageInput" type="number" class="form-control" step=".1" ng-model="vm.newMileage.RouteStartMileage" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="routeEndMileageInput">Route End Mileage</label>
                            <input id="routeEndMileageInput" type="number" class="form-control" step=".1" ng-model="vm.newMileage.RouteEndMileage" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="garageEndMileageInput">Garage End Mileage</label>
                            <input id="garageEndMileageInput" type="number" class="form-control" step=".1" ng-model="vm.newMileage.GarageEndMileage" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="deadheadHoursInput">Deadhead Hours</label>
                            <input id="deadheadHoursInput" type="number" class="form-control" step=".1" ng-model="vm.newMileage.DeadheadHours" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="revenueHoursInput">Revenue Hours</label>
                            <input id="revenueHoursInput" type="number" class="form-control" step=".1" ng-model="vm.newMileage.RevenueHours" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label for="vehicleHoursInput">Vehicle Hours</label>
                            <input id="vehicleHoursInput" type="number" class="form-control" step=".1" ng-model="vm.newMileage.VehicleHours" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="notesInput">Notes</label>
                            <textarea id="notesInput" class="form-control" ng-model="vm.notes"></textarea>
                        </div>
                        <div class="form-group col-sm-3">
                            <br />
                            <button ng-click="vm.addNewMileage()" class="btn btn-lg center-block btn-primary">Add New Mileage</button>
                        </div>
                        <div class="form-group col-sm-3">
                            <br />
                            <tigger-loading ng-show="vm.loading" class="centered"></tigger-loading>
                            <button ng-hide="vm.loading" ng-click="vm.clearInserts()" class="btn btn-primary btn-lg center-block">Clear</button>
                        </div>
                        <div class="form-group col-sm-3" ng-show="vm.streetMileages.length > 0">
                            <br />
                            <button ng-show="vm.streetMileages.length > 0" type="submit" ng-click="vm.insertMileages()" class="btn btn-primary btn-success btn-lg center-block">Insert All</button>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="edit">
                <form name="tiggerMileagesForm" role="form">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="scheduledDateInput">Date</label>
                            <p class="input-group">
                                <input id="scheduledDateInput" type="text" class="form-control" datepicker-popup="longDate" ng-model="vm.scheduledDate" is-open="vm.opened" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <br />
                            <tigger-loading ng-show="vm.loading" class="centered"></tigger-loading>
                            <button ng-hide="vm.loading" ng-click="vm.getMileagesFromTigger()" class="btn btn-lg center-block btn-primary">Get Mileages From TIGGER</button>
                        </div>
                    </div>
                    <tigger-no-results ng-hide="vm.tiggerMileages.length > 0"></tigger-no-results>
                    <div class="form-group" ng-show="vm.tiggerMileages.length > 0">
                        <table class="table">
                            <tr>
                                <th>Vehicle</th>
                                <th>Route</th>
                                <th>Garage Start Mileage</th>
                                <th>Route Start Mileage</th>
                                <th>Route End Mileage</th>
                                <th>Garage End Mileage</th>
                                <th>Deadhead Hours</th>
                                <th>Revenue Hours</th>
                                <th>Vehicle Hours</th>
                                <th>Notes</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="mileage in vm.tiggerMileages">
                                <td>{{ mileage.Vehicle.Name }}</td>
                                <td>{{ mileage.Block.Name }}</td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.GarageStartMileage }}</span>
                                    <input type="number" ng-show="mileage.inEdit" class="form-control" step=".1" ng-model="mileage.GarageStartMileage" required />
                                </td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.RouteStartMileage }}</span>
                                    <input type="number" ng-show="mileage.inEdit" class="form-control" step=".1" ng-model="mileage.RouteStartMileage" required />
                                </td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.RouteEndMileage }}</span>
                                    <input type="number" ng-show="mileage.inEdit" class="form-control" step=".1" ng-model="mileage.RouteEndMileage" required />
                                </td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.GarageEndMileage }}</span>
                                    <input type="number" ng-show="mileage.inEdit" class="form-control" step=".1" ng-model="mileage.GarageEndMileage" required />
                                </td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.DeadheadHours }}</span>
                                    <input type="number" ng-show="mileage.inEdit" class="form-control" step=".01" ng-model="mileage.DeadheadHours" required />
                                </td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.RevenueHours }}</span>
                                    <input type="number" ng-show="mileage.inEdit" class="form-control" step=".01" ng-model="mileage.RevenueHours" required />
                                </td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.VehicleHours }}</span>
                                    <input type="number" ng-show="mileage.inEdit" class="form-control" step=".01" ng-model="mileage.VehicleHours" required />
                                </td>
                                <td>
                                    <span ng-hide="mileage.inEdit">{{ mileage.Notes }}</span>
                                    <textarea ng-model="mileage.Notes" class="form-control" ng-show="mileage.inEdit"></textarea>
                                </td>
                                <td>
                                    <button ng-show="mileage.inEdit" type="button" class="btn btn-success" ng-click="vm.update($index)">Update</button>
                                    <button ng-show="mileage.inEdit" type="button" class="btn btn-warning" tigger-sweet-alert on-confirm="vm.deleteMileage($index)">Delete</button>
                                    <button ng-hide="mileage.inEdit" type="button" class="btn" ng-click="vm.placeInEdit($index)">Edit</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <tigger-loading ng-show="vm.loading" class="centered"></tigger-loading>
                    <button ng-hide="vm.loading" ng-click="vm.clearEdits()" class="btn btn-primary btn-lg center-block">Clear</button>
                </form>
            </div>
        </div>
    </div>
</div>